/*======================
 Page header style
===========================*/
.pheader {
    font-size: 14px;
    text-transform: uppercase;
}
.pheader-wrapper {
    display: flex;
    align-items: center;
    padding: 17px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}

.pheader-wrapper .btn {
    margin-left: 20px;
}


/*====================================*/

.ng-draggable {
    cursor:pointer;
  }
.drag-boundary {
    min-height: 90vh;
    overflow: hidden;
    background: #efefef;
    position: relative;
    margin: 0 auto;
    padding: 18px;
}

.ng-draggable {
    cursor: move;
    background-color: #20a8d8;
}
.drag-block {
    min-width: 10vw;
    min-height: 31vh;
    margin: 10px;
    background-color:#fff;
    color: #666;
    padding: 18px 20px;
    float: left;
    border-radius:2px;
    line-height: 50px;
    text-align: center;
    border-top: 2px solid #007bff;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}
.drag-block:focus {
    outline: none;
}

*, ::after, ::before {
    box-sizing: border-box;
}
/*======================
  Style for card
=========================*/

.resize-drag {
  background-color: #fff;
  color: #000;
  font-size: 14px;
  font-family: sans-serif;
  border-radius: 2px;
  padding: 20px;
  margin: 30px 20px;
  list-style: none;
  display: inline-block;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  width: 120px;
  /*transition: all 0.3s ease-in-out;*/
  /* This makes things *much* easier */
  box-sizing: border-box;
}

.resize-drag:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.resize-container {
  display: inline-block;
  width: 100%;
  height: 100vh;
  background: #f1f1f1;
}
.cdesc {
    width: 100%;
    word-wrap: break-word;
    font-size: 13px;
    color: #666;
    text-align: left;
}
.cdesc p {
    margin-bottom: 0;
    line-height: 24px;
}
.cheader {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 800;
    letter-spacing: 2px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    color: #111;
}
.cdesc i {
    margin-right: 10px;
}