.home-option-wrapper {
    display: flex;
    max-width: 600px;
    margin: 4em auto;
}
.home-option {
    border-top: 2px solid #007bff;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    padding: 3em;
    margin: 15px;
    color: #333;
    flex: 1;
}